.centre-pos {
  position: relative;
  padding-bottom: 2vh;
  padding-left: 30vh;
}

.scale-input {
  transform: scale(0.70);
}

.scale_up {
  transform: scale(2.0);
}

.scale_med{
  transform: scale(1.5);
}

#contact{
  padding-top: 5vh;;
}

.form-highlight{
  position: relative;
  max-height: 100vh;
  background-color: #3f37c9;
}